<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.tenderee.mapper.TendereeMapper">
	<select id="selectProject" resultMap="TendereeAndProject">
		select
			*,p.state as pstate
		from
		   tenderee t
		left join project p on t.project_id=p.id
		WHERE
			 t.id = #{id}
	</select>
	<resultMap id="TendereeAndProject" type="Tenderee">
		<result property="project.id" column="project_id"/>
		<result property="project.projectName" column="project_name"/>
		<result property="project.projectCode" column="project_code"/>
		<result property="project.projectClassify" column="project_classify"/>
		<result property="project.procurementMethod" column="procurement_method"/>
		<result property="project.consortiumBidding" column="consortium_bidding"/>
		<result property="project.bidOpeningMethod" column="bid_opening_method"/>
		<result property="project.isPushBiddingWebsite" column="is_push_bidding_website"/>
		<result property="project.bidWinningPriceType" column="bid_winning_price_type"/>
		<result property="project.projectOverview" column="project_overview"/>
		<result property="project.state" column="pstate"/>
		<result property="project.bidOpeningTime" column="bid_opening_time"/>
		<result property="project.numberReviewExpert" column="number_review_expert"/>
		<result property="project.answerEndDate" column="answer_end_date"/>
		<result property="project.enrollEndDate" column="enroll_end_date"/>
		<result property="project.senrollStartDate" column="senroll_start_date"/>
		<result property="project.createDate" column="create_date"/>
		<result property="project.updateDate" column="update_date"/>
		<result property="project.reviewEndDate" column="review_end_date"/>
		<result property="project.isPass" column="is_pass"/>
		<result property="project.money" column="money"/>
		<result property="project.isAudit" column="is_audit"/>
		<result property="project.procurementDocuments" column="procurement_documents"/>
		<result property="project.notPassInfo" column="not_pass_info"/>

	</resultMap>

	<select id="selectListProject" resultMap="TendereeAndProject">
		select
			*,p.state as pstate
		from
		   tenderee t
		left join project p on t.project_id=p.id
		WHERE
			1=1
			<if test="member !=null and member.id !=null">
			 	and t.member_id = #{member.id}
			</if>
			<if test="tendereeName !=null and tendereeName.length() >0">
				and t.tenderee_name like concat('%',#{tendereeName},'%')
			</if>
			<if test="project !=null">
				<if test="project.projectName !=null and project.projectName.length()>0">
					and p.project_name like concat('%',#{project.projectName},'%')
				</if>
				<if test="project.projectCode !=null and project.projectCode.length()>0">
					and p.project_code like concat('%',#{project.projectCode},'%')
				</if>
				<if test="project.enrollEndDateSearch != null">
					and p.enroll_end_date like concat( #{project.enrollEndDateSearch},'%')
				</if>
				<if test="project.state != null and project.state != 12">
					and p.state = #{project.state}
				</if>
				<if test="project.state != null and project.state == 12">
					and (p.state = 1 or p.state=2) and Now() >= p.enroll_end_date
				</if>
				<if test="project.isAudit != null and project.isAudit !=12">
					and p.is_audit = #{project.isAudit}
				</if>
			</if>
	  	order by
		CASE
			WHEN p.is_audit = 0 THEN 2
			ELSE 0
		END desc,
		t.update_date desc
	</select>
	
</mapper>