<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.user.mapper.RetrievePasswordMapper">
	<select id="selectBidderInfo" resultMap="bidderInfoAndAccount">
		select 
			*,u.id userId,bi.id bidderInfoId,m.name memberName,a.phone accountPhone,a.email accountEmail,a.address accountAddress,a.account_money accountMoney,a.remark accountRemark
		from
		   retrieve_password rp
		left join user u on rp.username=u.username
		left join member m on m.id=u.member_id
		left join bidder_info bi on bi.member_id=m.id
		left join account a on m.account_id=a.id
		WHERE
			m.is_delete = 0
			and m.is_stop = 0
			and rp.id = #{id}
	</select>
	<resultMap id="bidderInfoAndAccount" type="RetrievePassword">
		<result property="user.id" column="userId"/>

		<result property="bidderInfo.id" column="bidderInfoId"/>
		<result property="bidderInfo.idCard" column="id_card"/>
        <result property="bidderInfo.memberType" column="member_type"/>
		<result property="bidderInfo.qualificationCertificate01" column="qualification_Certificate01"/>
		<result property="bidderInfo.qualificationCertificate02" column="qualification_Certificate02"/>
		<result property="bidderInfo.qualificationCertificate03" column="qualification_Certificate03"/>
		<result property="bidderInfo.qualificationCertificate04" column="qualification_Certificate04"/>
		<result property="bidderInfo.qualificationCertificate05" column="qualification_Certificate05"/>

		<result property="bidderInfo.member.name" column="memberName"/>
		<result property="bidderInfo.member.account.id" column="account_id"/>
		<result property="bidderInfo.member.account.accountName" column="account_name"/>
		<result property="bidderInfo.member.account.accountType" column="account_type"/>
		<result property="bidderInfo.member.account.accountUser" column="account_user"/>
		<result property="bidderInfo.member.account.accountUserId" column="account_user_id"/>
		<result property="bidderInfo.member.account.accountMoney" column="account_money"/>
		<result property="bidderInfo.member.account.accountNumber" column="account_number"/>
		<result property="bidderInfo.member.account.accountNumberName" column="account_number_name"/>
		<result property="bidderInfo.member.account.accountAddress" column="account_address"/>
		<result property="bidderInfo.member.account.member" column="member"/>
		<result property="bidderInfo.member.account.phone" column="accountPhone"/>
		<result property="bidderInfo.member.account.email" column="accountEmail"/>
		<result property="bidderInfo.member.account.address" column="accountAddress"/>
		<result property="bidderInfo.member.account.accountCreateDate" column="account_create_date"/>
		<result property="bidderInfo.member.account.accountCode" column="account_code"/>
		<result property="bidderInfo.member.account.dealType" column="deal_type"/>
		<result property="bidderInfo.member.account.natureBusiness" column="nature_business"/>
		<result property="bidderInfo.member.account.accountCodeFileId" column="account_code_file_id"/>
		<result property="bidderInfo.member.account.accountMoney" column="accountMoney"/>
		<result property="bidderInfo.member.account.remark" column="accountRemark"/>
	</resultMap>
	
</mapper>