<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.user.mapper.ExpertInfoMapper">
    <select id="selectMember" resultMap="ExpertInfoAndMember">
		select
			*,a.id as aId,a.account_name
		from
		   expert_info e
		left join member m on e.member_id = m.id
        left join role r on r.id = m.role_id
        left join account a on a.id = m.account_id
		WHERE
            m.is_delete = 0
            and m.is_stop = 0
            and r.type='expert'
        <if test="expertInfo != null">
            <if test="expertInfo.isCheck != null">
                and e.is_check = #{expertInfo.isCheck}
            </if>
            <if test="expertInfo.isAdmin != null and expertInfo.isAdmin==-1">
                and e.is_admin != 1
            </if>
            <if test="expertInfo.isAdmin != null and expertInfo.isAdmin !=-1">
                and e.is_admin = #{expertInfo.isAdmin}
            </if>
            <if test="expertInfo.expertCard != null and expertInfo.expertCard.length>0">
                and e.expert_card like concat('%',#{expertInfo.expertCard},'%')
            </if>
            <if test="expertInfo.idCard != null and expertInfo.idCard.length>0">
                and e.id_card like concat('%',#{expertInfo.idCard},'%')
            </if>
            <if test="expertInfo.member != null">
                <if test="expertInfo.member.name != null and expertInfo.member.name.length>0">
                    and m.name like concat('%',#{expertInfo.member.name},'%')
                </if>
                <if test="expertInfo.member.phone != null and expertInfo.member.phone.length>0">
                    and m.phone like concat('%',#{expertInfo.member.phone},'%')
                </if>
            </if>

        </if>
        order by e.update_date
	</select>
    <resultMap id="ExpertInfoAndMember" type="ExpertInfo">
        <result property="member.account.id" column="aId"/>
        <result property="member.account.accountName" column="account_name"/>

        <result property="member.id" column="member_id"/>
        <result property="member.name" column="name"/>
    </resultMap>

</mapper>

