<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.tenderee.mapper.ProjectRegisterMapper">
	<select id="selectByCountProjectId" resultMap="ProjectRegisterAndProjectAndMemberAndAccount">
		select 
			pr.*,pr.member_id as prMemberId,m.account_id,a.account_name as unitName,a.member,a.phone as aPhone,t.id as tid,t.tenderee_name,p.procurement_documents
		from
		   project_register pr
		left join project p on pr.project_id=p.id
		left join tenderee t on t.project_id=p.id
		left join member m on m.id=pr.member_id
		left join account a on a.id=m.account_id
		where
			1=1
		<if test="project != null">
			<if test="project.id != null">
				and p.id=#{project.id}
			</if>
		</if>
		<if test="state==0 and memberId != null">
			and pr.member_id = #{memberId}
		</if>
		<if test="state==1 and memberId != null">
			and t.member_id = #{memberId}
		</if>
		group by pr.project_id
		order by p.update_date
	</select>
	<resultMap id="ProjectRegisterAndProjectAndMemberAndAccount" type="ProjectRegister">
		<result property="project.id" column="project_id"/>
		<result property="project.procurementDocuments" column="procurement_documents"/>

		<result property="project.tenderee.id" column="tid"/>
		<result property="project.tenderee.tendereeName" column="tenderee_name"/>
		<result property="project_register.create_date" column="createDate"/>

		<result property="member.id" column="prMemberId"/>

		<result property="member.account.id" column="account_id"/>
		<result property="member.account.accountName" column="unitName"/>
		<result property="member.account.member" column="member"/>
		<result property="member.account.phone" column="aPhone"/>
	</resultMap>

	<select id="getProject" resultMap="ProjectRegisterAndProjectAndMemberAndAccount">
		select
		pr.*,pr.member_id as prMemberId,m.account_id,a.account_name as unitName,a.member,a.phone as aPhone,t.id as tid,t.tenderee_name,p.procurement_documents
		from
		project_register pr
		left join project p on pr.project_id=p.id
		left join tenderee t on t.project_id=p.id
		left join member m on m.id=pr.member_id
		left join account a on a.id=m.account_id
		where
		1=1
		<if test="projectId != null">
			and p.id=#{projectId}
		</if>
		order by pr.create_date
	</select>


	<select id="selectListById" resultType="ProjectRegister">
		select
			*
		from
		   project_register pr
		where
		   1=1
		<if test="notIds != null and notIds.size() >0">
			and pr.id not in
			<foreach collection='notIds' item='item' open='(' separator=',' close=')'>
				#{item}
			</foreach>
		</if>
		<if test="id != null">
			and pr.project_id = (select project_id from project_register where id=#{id})
		</if>
	</select>


	<select id="selectMemberProjectByIds" resultMap="ProjectRegisterAndProjectAndMember">
		select
			*
		from
		   project_register pr
		left join project p on pr.project_id=p.id
		left join member m on pr.member_id=m.id
		where
		   pr.id in
		<foreach collection='ids' item='item' open='(' separator=',' close=')'>
			#{item}
		</foreach>
	</select>
	<resultMap id="ProjectRegisterAndProjectAndMember" type="ProjectRegister">
		<result property="project.id" column="project_id"/>

		<result property="member.id" column="member_id"/>
	</resultMap>

</mapper>