<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.tenderee.mapper.ProjectRegisterMapper">
	<select id="selectByCountProjectId" resultMap="ProjectRegisterAndProject">
		select 
			p.*,pr.project_id
		from
		   project_register pr
		left join project p on pr.project_id=p.id
		group by pr.project_id
	</select>
	<resultMap id="ProjectRegisterAndProject" type="ProjectRegister">
		<result property="project.id" column="project_id"/>
	</resultMap>


	<select id="selectListById" resultType="ProjectRegister">
		select
			*
		from
		   project_register pr
		where
		   1=1
		<if test="notIds != null and notIds.size() >0">
			and pr.id not in
			<foreach collection='notIds' item='item' open='(' separator=',' close=')'>
				#{item}
			</foreach>
		</if>
		<if test="id != null">
			and pr.project_id = (select project_id from project_register where id=#{id})
		</if>
	</select>


	<select id="selectMemberProjectByIds" resultMap="ProjectRegisterAndProjectAndMember">
		select
			*
		from
		   project_register pr
		left join project p on pr.project_id=p.id
		left join member m on pr.member_id=m.id
		where
		   pr.id in
		<foreach collection='ids' item='item' open='(' separator=',' close=')'>
			#{item}
		</foreach>
	</select>
	<resultMap id="ProjectRegisterAndProjectAndMember" type="ProjectRegister">
		<result property="project.id" column="project_id"/>

		<result property="member.id" column="member_id"/>
	</resultMap>

</mapper>