<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.tenderee.mapper.ProjectMapper">
	<select id="listAvailable" resultMap="ProjectRegisterAndProject">
		select 
			p.*,pr.id as prId,pr.create_date as prCreateDate,pr.win_bid_state
		from
			project p
			left join project_register pr on pr.project_id = p.id
	  	where
			1=1
			<if test="project != null">
				<if test="project.state != null">
					and p.state = #{project.state}
				</if>
			</if>
		<if test="state==-1">
			and p.is_audit = 1
			and p.id
			not in (
				select project_id
				from project_register
				where member_id = #{memberId}
				and (state =0 or state=1 or state=2 or state=3 or state=4 or state=5 )
			)
			and (Now() BETWEEN p.senroll_start_date AND p.enroll_end_date)
		</if>
		<if test="state==1 || state==0">
			and pr.member_id = #{memberId} and pr.state = #{state}
		</if>
		<if test="state==1">
			and (p.state=1 or p.state=2)
		</if>
		group by p.id
	  	order by
	  		p.update_date desc
	</select>
	<resultMap id="ProjectRegisterAndProject" type="Project">
		<result property="projectRegisters.id" column="prId"/>
		<result property="projectRegisters.createDate" column="prCreateDate"/>
		<result property="projectRegisters.winBidState" column="win_bid_state"/>
	</resultMap>

	<select id="runProject" resultType="Project">
		select
			p.*
		from
			project p
			<if test="state==0">
				left join project_register pr on pr.project_id = p.id
			</if>
		where
			1=1
			<if test="project != null">

			</if>
			and Now() >= p.enroll_end_date
			and (p.state=1 or p.state=2)
			<if test="state==0">
				and pr.member_id = #{memberId}
				and pr.state=1
			</if>
			<if test="state==2">
				and (p.review_progress is not null and p.review_progress>0)
			</if>
		order by
			p.update_date desc
	</select>

	<select id="expertProject" resultType="Project">
		select
			p.id,
			p.is_pass,
			p.project_name,
			p.bid_opening_time,
			p.enroll_end_date,
			case (SELECT max(review_type) FROM evaluation_criteria ec WHERE p.id = ec.project_id and ec.member_id=#{memberId}) when 1 then 30 when 2 then 60 when 3 then 100 else 0 end as review_progress
		from
			project p
			left join review_info ri on ri.project_id=p.id
			left join win_bid wb on ri.id=wb.win_bid_id
			where
			1=1
			<if test="project != null">
				<if test="project.state != null">
					and p.state = #{project.state}
				</if>
			</if>
			and wb.member_id=#{memberId}
			<if test="state==1 or state==2">
				and Now() >= p.enroll_end_date
				and (p.state=1 or p.state=2)
			</if>
			<if test="state==2">
				and p.id in (select ec.project_id from evaluation_criteria ec where p.id=ec.project_id and ec.member_id=#{memberId} )
			</if>
			<if test="state==1">
				and p.id not in (select ec.project_id from evaluation_criteria ec where p.id=ec.project_id and ec.member_id=#{memberId} )
			</if>
		order by
			p.update_date desc
	</select>

	<select id="reviewEndProject" resultMap="ProjectRegisterAndProject">
		select
		p.*,pr.win_bid_state
		from
			project p
		left join project_register pr on pr.project_id = p.id
		where
		1=1
		<if test="state != null">
			and p.state=#{state}
		</if>
		<if test="projectName != null">
			and p.project_name=#{projectName}
		</if>
		<if test="projectRegisters !=null">
			<if test="projectRegisters.member != null">
				<if test="projectRegisters.member.id != null">
					and pr.member_id = #{projectRegisters.member.id}
				</if>
			</if>
			<if test="projectRegisters.state != null">
				and pr.state = #{projectRegisters.state}
			</if>
		</if>
		order by
		p.update_date desc
	</select>

	<select id="extractProjectList" resultType="Project">
		select
			*
		from
			project
		where
			state = 1
			and is_audit = 1
			and (Now() BETWEEN senroll_start_date AND enroll_end_date)
			and id not in  (select p.id
						from review_info ri
						left join project p on ri.project_id = p.id
						where p.state = 1
						and ri.state = 1
						and (Now() BETWEEN p.senroll_start_date AND p.enroll_end_date) )
		order by enroll_end_date asc
	</select>

</mapper>