<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztbdz.tenderee.mapper.ProjectRegisterMapper">
	<select id="selectByCountProjectId" resultMap="ProjectRegisterAndProject">
		select 
			p.*,pr.project_id
		from
		   project_register pr
		left join project p on pr.project_id=p.id
		group by pr.project_id
	</select>
	<resultMap id="ProjectRegisterAndProject" type="ProjectRegister">
		<result property="project.id" column="project_id"/>
	</resultMap>
</mapper>